<nav class="navbar admin-navbar">
    <div class="logo">
        <a href="/admin">RIT Academia Admin</a>
    </div>

    <ul class="nav-links">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/users">Manage Users</a></li>
        <li><a href="/subjects">Manage Subjects</a></li>
        <li><a href="/subjects/add">Add Subject</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>